bin/
.bundle/
coverage/
.dependencies/
doc/
.DS_Store
Gemfile.lock
Gemfile.local
Guardfile
.idea/
junit/
.librarian/
log/
.metadata
pkg/
Puppetfile.lock
.rspec_system/
.ruby-version
spec/fixtures/manifests/
spec/fixtures/modules/
tmp/
.vagrant/
.vendor/
vendor/
.yardoc/
.yardwarns
*.iml
.*.sw?
