---
sudo: false
dist: trusty
language: ruby
cache: bundler
before_install:
  - bundle -v
  - rm Gemfile.lock || true
  - gem update --system
  - gem update bundler
  - gem --version
  - bundle -v
script:
  - bundle show puppet
  - bundle exec rake $CHECK
matrix:
  fast_finish: true
  include:
    - rvm: 2.1.9
      bundler_args: --without system_tests development
      env: PUPPET_VERSION="~> 4.7.0" CHECK=test
    - rvm: 2.1.9
      bundler_args: --without system_tests development
      env: PUPPET_VERSION="~> 4.10.0" CHECK=test
    - rvm: 2.4.1
      bundler_args: --without system_tests development
      env: PUPPET_VERSION="~> 5.0" CHECK=test
    - rvm: 2.4.1
      bundler_args: --without system_tests development
      env: PUPPET_VERSION="~> 5.0" CHECK=test DEPLOY_TO_FORGE=yes
branches:
  only:
    - master
    - /^v\d/
notifications:
  email: false
deploy:
  provider: puppetforge
  user: millerjl1701
  password:
    secure: ECgDojKqY/Sn9j3aPBkGwtfSPPgmpXbR/3K79lrSe7C8nJ/QC1xz+vxirN+QDBLu1ZUh+YQRa1Ie1VuPifEiwcOpdtH5opkB/d0K5Sw2pr+KKodOBFUkV8Rm81s8h9A34FJOt+iYuVxUmhrLa+edbUmQXv8p7otu/V7K5gdwXJvBZ7roYTGUCl4xJihN4dsJnuAH/u6lCKibwYL9F9PS+Lew6TgkYdHccT9J9W3j9NypEsaoaCvWy2DasPN3Icpricfy3/kEK7JqylJEmDY3+s3cUaOyE7sAw08PPx4VuB8eu0QJmCmxQsnXqVc+gKKVGqPJwhjYf9t0gdEEDUW52Ub/iEOQQTLS54Xnlkz90Imq7Xho6hWSzgejNopk9Ln6LEHAac8BJR06ajGZk0idjDUSl0kIfnzmqSBMX0/CGXPPp0Aen6s5+K2gxD20rUCoHc7gaA7zZDGfpEkFlTC1QVoImyI8j94UDv8DoDBgMq2Uq2PFB049OcASaAIssrSGyPmTfuRlashunVmHetQN+368JdNkNnwj4TVYc2R2nJs0mKR9uLNgSJuey+INVm87d9MwKI14KVwKAWh6BQI37Y7qKkFCgTQm29jWCgqfJNTUEqbiVRQbmhquv87uLWDvQTHzlc2btpkDTr2tszPLKClWGm5alZYfBNqqA/+VX04=
  on:
    tags: true
    # all_branches is required to use tags
    all_branches: true
    # Only publish the build marked with "DEPLOY_TO_FORGE"
    condition: "$DEPLOY_TO_FORGE = yes"
